@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garet";
  src: url('/fonts/Garet-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Garet";
  src: url('/fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-garet: 'Garet', sans-serif;
  --letter-spacing: 2px;
  --text-transform: uppercase;
  --background-1: #ffffff;
  --light-orange: 40, 48%, 86%;
  --pastel-orange: 38, 43%, 76%;
  --gray-orange: 37, 29%, 42%;
  /* --background-2: #ede2cc;
  --background-button: #dcc9a7;
  --color : #8a724c; */

}

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body { 
    font-family: var(--font-garet); 
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
    background-color: var(--background-1);
    color: hsl(var(--gray-orange));
  }

  /* Override browser autofill styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px hsl(var(--light-orange)) inset !important;
    box-shadow: 0 0 0 30px hsl(var(--light-orange)) inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: hsl(var(--gray-orange)) !important;
  }

  input:-webkit-autofill::first-line {
    font-family: var(--font-garet);
  }
}




